
.background{
	height: 100vh;
    width: 100vw;
	padding: 40px;
    background-repeat: round;
}

.icon {
	border: 1px solid;
    padding: 2px;
}

.coinageInput {
	text-align: center;
	width: 9em;
}

hr {
	border-top: 1px solid #ddd;
}

.inputWidth {
	width: 5em;
	margin-right: 20px;
}

.topBarLabel {
	padding: 5px;
	padding-right: 20px;
}

.forceWhiteBackground {
	background: white !important;
}

.end {
	text-align: end;
}
.center {
	text-align: center;
}

.coinageLabel {
	vertical-align: middle !important;
}

.form-control.correctWeight {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.form-control.incorrectWeight {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.input-group-addon.incorrectWeight {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.input-group-addon.correctWeight {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.topButton {
	width: 10em
}

.inputList {
	padding: 6px 12px;
}

.template-title {
	padding: 5px;
}

.select2-container{
	width: 40em !important;
}

.location {
	min-width: 150px;
	display: block;
}

.remove-button {
	margin-right: 5px;
}

.count {
	max-width: 100px;
	min-width: 100px;
}

.addItemCell { 
	padding: 5px;
}

.btn.btn-default.dropdown-toggle{
	width: 120px;
}

.input-group {
	width: 100%;
}

table td.shrink {
	width: 15%;
	white-space: nowrap;
	vertical-align: baseline !important;
}

table th.shrink {
    width: 10%
}

table td.expand {
    width: 99%;
	vertical-align: baseline !important;
}

table th.expand {
    width: 99%
}